.meetings-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 40px);
    width: $welcomePageEnterRoomWidth;
    z-index: $zindex2;
    border-radius: $welcomePageEnterRoomBorderRadius;
    color: #253858;

    .meetings-list-empty {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .description {
            font-size: 16px;
            padding: 20px;
        }
    }

    .button {
        background: #0074E0;
        border-radius: 4px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        cursor: pointer;
    }

    .calendar-action-buttons {
        .button {
            margin: 0px 10px;
        }
    }

    .item {
        box-sizing: border-box;
        display: inline-flex;
        margin-top: 5px;
        min-height: 92px;
        width: 100%;
        word-break: break-word;
        flex-direction: row;
        text-align: left;

        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px
        rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;

        &:first-child {
            margin-top: 0px;
        }

        .left-column {
            display: flex;
            flex-direction: column;
            width: 140px;
            flex-grow: 0;
            background: #FF0000;
            color: #FFFFFF;
            text-align: center;
            justify-content: center;
            font-size: large;

            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px
            rgba(0, 0, 0, 0);
            overflow: hidden;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: color, background-color;
            transition-property: color, background-color;

            .date {
                font-weight: bold;
                padding-bottom: 5px;
            }

            &:hover {
                cursor: pointer;
                background-color: #CC0000;
                color: white;
            }
        }

        .right-column {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding-left: 30px;
            justify-content: center;
            background: rgb(255,255,255);

            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform,box-shadow;
            transition-property: transform,box-shadow;

            .title {
                font-size: x-large;
                font-weight: bold;
            }

            &.with-click-handler {
                cursor: pointer;
            }

            &.with-click-handler:hover {
                -webkit-transform: translateX(-80px);
                transform: translateX(-80px);
                box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.5);
                z-index: 3;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 0;
            padding-right: 30px;
        }

        .add-button {
            width: 30px;
            height: 30px;
            padding: 0px;
        }

        i {
            cursor: inherit;
        }

        .join-button {
            display: none;
        }

        &:hover .join-button {
            display: block
        }
    }
}
